@import 'bootstrap/dist/css/bootstrap.css';
@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';






body {
  padding: 0;
  margin: 0vw 10vw 0vw 10vw;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
  background-image: url("rebar.avif");
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.MuiDrawer-paper {
  background-color: antiquewhite !important;
}

header {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;;
}

header > h3 {
  color: antiquewhite;
  text-align: center;
  font-weight: 300;
}

h1 {
  color: antiquewhite;
  text-align: center;
  font-weight: 500;
}

.subscriptionContainer > h2 {
  color: antiquewhite;
  text-align: center;
  font-weight: 500;
}

.profileCardContent {
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
}


.submissionSection {
width: 80%;
column-count: 2;
column-gap: 4%;
column-width: 40%;
margin: 20px auto;
padding: 10px;
}

.submissionElement {
  
  height: 200px;
  margin: 0px auto 20px auto;
}

#newSubmissionContainer {
  display: flex;
  justify-content: center;
}

.likeSaveContainer {
  display: flex;
  justify-content: space-between;
}

.closedRequestPage {
  padding: 40px;
  margin-top: 40px;
}
